In [19]:
import numpy as np
import pandas as pd
import math
import os
import matplotlib.pyplot as plt
import glob
import seaborn as sbn

In [20]:
ap=pd.read_excel(r"C:\Users\harid\OneDrive\Desktop\python\data\datasets\AirPassengers.xlsx")

In [21]:
ap.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Holiday_week,Delayed_Cancelled_flight_ind,Inter_metro_flight_ratio,Bad_Weather_Ind,Technical_issues_ind
0,1,37824,517356,4.00000,NO,NO,0.70,YES,YES
1,2,43936,646086,2.67466,NO,YES,0.80,YES,YES
2,3,42896,638330,3.29473,NO,NO,0.90,NO,NO
3,4,35792,506492,3.85684,NO,NO,0.40,NO,NO
4,5,38624,609658,3.90757,NO,NO,0.87,NO,YES

In [22]:
ap.shape

(80, 9)

In [23]:
ap1=ap.select_dtypes(include=[np.number])    # selecting only numerical data

In [24]:
ap1

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,1,37824,517356,4.00000,0.70
1,2,43936,646086,2.67466,0.80
2,3,42896,638330,3.29473,0.90
3,4,35792,506492,3.85684,0.40
4,5,38624,609658,3.90757,0.87
...,...,...,...,...,...
75,76,66934,927696,1.07138,0.84
76,77,81228,1108254,0.85536,0.90
77,78,43288,638162,3.08191,0.62
78,79,43834,636636,2.75382,0.79
79,80,40852,575008,3.52768,0.54

In [25]:
ap1.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,1,37824,517356,4.00000,0.70
1,2,43936,646086,2.67466,0.80
2,3,42896,638330,3.29473,0.90
3,4,35792,506492,3.85684,0.40
4,5,38624,609658,3.90757,0.87

In [26]:
ap1.drop(["Week_num"],axis=1,inplace=True)          # dropping the column name week_num

C:\Users\harid\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [27]:
ap1.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,37824,517356,4.00000,0.70
1,43936,646086,2.67466,0.80
2,42896,638330,3.29473,0.90
3,35792,506492,3.85684,0.40
4,38624,609658,3.90757,0.87

In [28]:
# transform the data into uniform data


from sklearn.preprocessing import MinMaxScaler

mn=MinMaxScaler()
ap2=pd.DataFrame(mn.fit_transform(ap1),columns=ap1.columns)

In [29]:
ap2.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,0.173698,0.204257,1.000000,0.615385
1,0.290055,0.377614,0.578540,0.807692
2,0.270256,0.367169,0.775723,1.000000
3,0.135014,0.189627,0.954475,0.038462
4,0.188928,0.328557,0.970607,0.942308

In [30]:
ap2

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,0.173698,0.204257,1.000000,0.615385
1,0.290055,0.377614,0.578540,0.807692
2,0.270256,0.367169,0.775723,1.000000
3,0.135014,0.189627,0.954475,0.038462
4,0.188928,0.328557,0.970607,0.942308
...,...,...,...,...
75,0.727878,0.756848,0.068695,0.884615
76,1.000000,1.000000,0.000000,1.000000
77,0.277719,0.366943,0.708046,0.461538
78,0.288113,0.364888,0.603713,0.788462
79,0.231343,0.281895,0.849802,0.307692

In [31]:
from sklearn.cluster import AgglomerativeClustering

ag=AgglomerativeClustering()
ag.fit(ap2)
ag.get_params()

{'affinity': 'euclidean',
 'compute_full_tree': 'auto',
 'connectivity': None,
 'distance_threshold': None,
 'linkage': 'ward',
 'memory': None,
 'n_clusters': 2}

In [32]:
ag.compute_full_tree

'auto'

In [33]:
ag.labels_

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int64)

In [34]:
ap2["clusters"]=ag.labels_

In [35]:
ap2.head()

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio,clusters
0,0.173698,0.204257,1.000000,0.615385,0
1,0.290055,0.377614,0.578540,0.807692,1
2,0.270256,0.367169,0.775723,1.000000,0
3,0.135014,0.189627,0.954475,0.038462,0
4,0.188928,0.328557,0.970607,0.942308,0

In [36]:
help(AgglomerativeClustering)

Help on class AgglomerativeClustering in module sklearn.cluster._agglomerative:

class AgglomerativeClustering(sklearn.base.ClusterMixin, sklearn.base.BaseEstimator)
 |  AgglomerativeClustering(n_clusters=2, *, affinity='euclidean', memory=None, connectivity=None, compute_full_tree='auto', linkage='ward', distance_threshold=None)
 |
 |  Agglomerative Clustering
 |
 |  Recursively merges the pair of clusters that minimally increases
 |  a given linkage distance.
 |
 |  Read more in the :ref:`User Guide <hierarchical_clustering>`.
 |
 |  Parameters
 |  ----------
 |  n_clusters : int or None, default=2
 |      The number of clusters to find. It must be ``None`` if
 |      ``distance_threshold`` is not ``None``.
 |
 |  affinity : str or callable, default='euclidean'
 |      Metric used to compute the linkage. Can be "euclidean", "l1", "l2",
 |      "manhattan", "cosine", or "precomputed".
 |      If linkage is "ward", only "euclidean" is accepted.
 |      If "precomputed", a distance matrix (instead of a similarity matrix)
 |      is needed as input for the fit method.
 |
 |  memory : str or object with the joblib.Memory interface, default=None
 |      Used to cache the output of the computation of the tree.
 |      By default, no caching is done. If a string is given, it is the
 |      path to the caching directory.
 |
 |  connectivity : array-like or callable, default=None
 |      Connectivity matrix. Defines for each sample the neighboring
 |      samples following a given structure of the data.
 |      This can be a connectivity matrix itself or a callable that transforms
 |      the data into a connectivity matrix, such as derived from
 |      kneighbors_graph. Default is None, i.e, the
 |      hierarchical clustering algorithm is unstructured.
 |
 |  compute_full_tree : 'auto' or bool, default='auto'
 |      Stop early the construction of the tree at n_clusters. This is useful
 |      to decrease computation time if the number of clusters is not small
 |      compared to the number of samples. This option is useful only when
 |      specifying a connectivity matrix. Note also that when varying the
 |      number of clusters and using caching, it may be advantageous to compute
 |      the full tree. It must be ``True`` if ``distance_threshold`` is not
 |      ``None``. By default `compute_full_tree` is "auto", which is equivalent
 |      to `True` when `distance_threshold` is not `None` or that `n_clusters`
 |      is inferior to the maximum between 100 or `0.02 * n_samples`.
 |      Otherwise, "auto" is equivalent to `False`.
 |
 |  linkage : {"ward", "complete", "average", "single"}, default="ward"
 |      Which linkage criterion to use. The linkage criterion determines which
 |      distance to use between sets of observation. The algorithm will merge
 |      the pairs of cluster that minimize this criterion.
 |
 |      - ward minimizes the variance of the clusters being merged.
 |      - average uses the average of the distances of each observation of
 |        the two sets.
 |      - complete or maximum linkage uses the maximum distances between
 |        all observations of the two sets.
 |      - single uses the minimum of the distances between all observations
 |        of the two sets.
 |
 |      .. versionadded:: 0.20
 |          Added the 'single' option
 |
 |  distance_threshold : float, default=None
 |      The linkage distance threshold above which, clusters will not be
 |      merged. If not ``None``, ``n_clusters`` must be ``None`` and
 |      ``compute_full_tree`` must be ``True``.
 |
 |      .. versionadded:: 0.21
 |
 |  Attributes
 |  ----------
 |  n_clusters_ : int
 |      The number of clusters found by the algorithm. If
 |      ``distance_threshold=None``, it will be equal to the given
 |      ``n_clusters``.
 |
 |  labels_ : ndarray of shape (n_samples)
 |      cluster labels for each point
 |
 |  n_leaves_ : int
 |      Number of leaves in the hierarchical tree.
 |
 |  n_connected_components_ : int
 |      The estimated number of connected components in the graph.
 |
 |      .. versionadded:: 0.21
 |          ``n_connected_components_`` was added to replace ``n_components_``.
 |
 |  children_ : array-like of shape (n_samples-1, 2)
 |      The children of each non-leaf node. Values less than `n_samples`
 |      correspond to leaves of the tree which are the original samples.
 |      A node `i` greater than or equal to `n_samples` is a non-leaf
 |      node and has children `children_[i - n_samples]`. Alternatively
 |      at the i-th iteration, children[i][0] and children[i][1]
 |      are merged to form node `n_samples + i`
 |
 |  Examples
 |  --------
 |  >>> from sklearn.cluster import AgglomerativeClustering
 |  >>> import numpy as np
 |  >>> X = np.array([[1, 2], [1, 4], [1, 0],
 |  ...               [4, 2], [4, 4], [4, 0]])
 |  >>> clustering = AgglomerativeClustering().fit(X)
 |  >>> clustering
 |  AgglomerativeClustering()
 |  >>> clustering.labels_
 |  array([1, 1, 1, 0, 0, 0])
 |
 |  Method resolution order:
 |      AgglomerativeClustering
 |      sklearn.base.ClusterMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, n_clusters=2, *, affinity='euclidean', memory=None, connectivity=None, compute_full_tree='auto', linkage='ward', distance_threshold=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the hierarchical clustering from features, or distance matrix.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape (n_samples, n_features) or (n_samples, n_samples)
 |          Training instances to cluster, or distances between instances if
 |          ``affinity='precomputed'``.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      Returns
 |      -------
 |      self
 |
 |  fit_predict(self, X, y=None)
 |      Fit the hierarchical clustering from features or distance matrix,
 |      and return cluster labels.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape (n_samples, n_features) or (n_samples, n_samples)
 |          Training instances to cluster, or distances between instances if
 |          ``affinity='precomputed'``.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      Returns
 |      -------
 |      labels : ndarray, shape (n_samples,)
 |          Cluster labels.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.ClusterMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.